<h1>  New Shop</h1>



<%= form_with model: @shop, url:"/create_shop" do |form|%>
<div>
	<%= form.label :name %><br>
	<%= form.text_field :name%><br> 
</div>
<div>
	<%= form.label :description%><br>
	<%= form.text_area :description%><br>
</div>

<div>
	<%= form.submit "save" %><br>
</div>

<% end %>