
<h1>  New Journal</h1>

<%= form_with model: @product, url:"/journals/journals/create" do |form|%>
<div>
	<%= form.label :name %><br>
	<%= form.text_field :name%><br>
</div>
<div>
	<%= form.label :code %><br>
	<%= form.number_field :code%><br>
</div>
<div>
	<%= form.label :description %><br>
	<%= form.text_area :description%><br>
</div>

<div>
	<%= form.submit "save" %><br>
</div>

<% end %>