<h1> Edit the laptop </h1>

<%= form_with model: @laptop, url:"/laptops/update_laptop/#{@laptop.id}" do |form|%>
<div>
	<%= form.label :name %><br>
	<%= form.text_field :name%><br>
	<% @laptop.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div><br>
    <% end %>
</div>
<div>
	<%= form.label :model%><br>
	<%= form.number_field :model%><br>
	<% @laptop.errors.full_messages_for(:model).each do |message| %>
      <div><%= message %></div><br>
    <% end %>
</div>
<div>
	<%= form.label :configuration %><br>
	<%= form.text_area :configuration%><br>
	<% @laptop.errors.full_messages_for(:model).each do |message| %>
      <div><%= message %></div><br>
    <% end %>
</div>

<div>
	<%= form.submit "update" %><br>
</div>

<% end %>