<h1>  New Laptop</h1>

<%= form_with model: @laptop, url:"/create_laptop" do |form|%>
<div>
	<%= form.label :name %><br>
	<%= form.text_field :name%><br>
</div>
<div>
	<%= form.label :model%><br>
	<%= form.number_field :model%><br>
</div>
<div>
	<%= form.label :configuration %><br>
	<%= form.text_area :configuration%><br>
</div>

<div>
	<%= form.submit "save" %><br>
</div>

<% end %>

