<h1>  Details of laptop </h1>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

 <h2> <strong> Name :</strong> <i> <%= @laptop.name %> </i></h2>
 <h2> <strong> Name :</strong> <i> <%= @laptop.model %> </i></h2>
 <h2> <strong> Name :</strong> <i> <%= @laptop.configuration %> </i></h2>

 <%= link_to "Back to index", root_path %>

 <%= link_to "Edit laptop",  url:"/laptops/edit_laptop/:id" %>